{% include "include/facebook/facebook.html" %}
<div id="header" class="header">
    <div id="breadcrumbs" class="breadcrumbs">
        {% for step in breadcrumb %}
            <a class="breadcrumb" href="{{ step.link }}">{{ step.name }}</a>
        {% endfor %}
    </div>
    <!--
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
    -->


    <div id="facebook" class="fb-login-button"
         data-max-rows="1"
         data-size="xlarge"
         data-show-faces="true"
         data-share="true"
         data-auto-logout-link="false"></div>
    <!--    <div id="status"></div>-->
    <a id="upload" class="upload" href="/upload.html/">
        <div class="extra"><img src=""></div>
</div>