{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/style.css' %}"/>
</head>
<body>
{% include "include/header.html" %}
<h1>{{ album.name }}</h1>
<div class="participant">
    {% for partecipant in album.participant_set.all %}
        <div class='user'>{{ partecipant.user }}
            <div class="photos">
                {% for photo in partecipant.photos %}
                    <a class='photo' href="/photo/{{ photo.id }}/">{{ photo.name }}
                        <img class="image" src="{{ photo.uri }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
