{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Gallery/style.css' %}"/>
</head>
<body>
{% include "include/header.html" %}

<!--<div class="logo">

    <img class='globe' src="{% static 'globe.jpg' %}">
    <img class='camera' src="{% static 'camera.gif' %}"></img>
    </img>
</div>
-->
<img class='logo' src="{% static 'Gallery.png' %}"/>
<div id="albums" class="albums">

    {% for album in albums %}
        <a class='album' href="/album/{{ album.id }}/">{{ album.name }}</a>
    {% endfor %}
</div>

</body>
</html>