/*.logo {
    margin: 0px auto;
    position: relative;
    display: block;
    padding:0px;
    margin:0px;

}
.logo .globe {
    z-index: 1;
    padding:0px;
    margin:0px;
    display:block;
    height: 512px;
}

.logo .camera {
    position: absolute;
    bottom:0px;
    display: block;
    left: 0px;
    z-index:1000;
    height: 256px;
}
*/
.logo {
    padding-top: 16px;
    max-height: 256px;
    max-width: 256px;
    margin: 96px auto;
    display: block;
}

.albums {

    margin: 20px auto 0px auto;
    display: block;
    text-align: center;
    padding: 16px;
}

.albums .album {

    display: block;
    text-decoration: none;
    font-size: 4em;
    background-color: azure;
    border: 4px solid #404040;
    border-radius: 16px;
    margin: 0px auto 16px auto;
    width: 100%;
    min-height: 96px;
    max-height: 96px;
    padding: 16px;
    box-sizing: border-box;
}

.albums .album:hover {
    background-color: deepskyblue;
}

.breadcrumbs {
    background: linear-gradient(to bottom, #808080, #404040);
    position: fixed;
    width: 100%;
    top: 0px;
    min-height: 92px;
    max-height: 92px;
    left: 0px;
    right: 0px;
    font-size: 4em;
    font-family: Arial;
    padding-top: 8px;
    box-sizing: border-box;
    padding-left: 16px;
}

.breadcrumbs .breadcrumb {
    color: beige;
}

.breadcrumbs .breadcrumb:nth-child(n+2)::before {
    content: "/";
}

.header .fb_iframe_widget {
    min-width: 32px;
    min-height: 32px;
    float: right;
}

body {
    background-color: #202020;
}